<div style="margin-top: 50px;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <!-- Title -->
        <div nz-row class="imgDiv">
          <h2>Reservation Request</h2>
        </div>

        <!-- Reservation Form -->
        <form nz-form [formGroup]="validateForm">
          <div nz-row class="form-content">
            <!-- Table Type Selection -->
            <div nz-col nzSpan="24" class="form-item">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                  <nz-select 
                    nzShowSearch 
                    nzAllowClear 
                    nzPlaceHolder="Select a Table Type" 
                    formControlName="tableType">
                    <nz-option *ngFor="let table of TableType" [nzLabel]="table" [nzValue]="table"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Date & Time Picker -->
            <div nz-col nzSpan="24" class="form-item">
              <nz-form-item>
                <nz-form-control nzHasFeedback>
                  <nz-date-picker 
                    nzFormat="yyyy-MM-dd HH:mm" 
                    nzPlaceholder="Select Date and Time"
                    [nzShowTime]="{ nzFormat: 'HH:mm' }" 
                    formControlName="dateTime">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Description Input -->
            <div nz-col nzSpan="24" class="form-item">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                  <textarea 
                    rows="3" 
                    nz-input 
                    placeholder="Description" 
                    formControlName="description"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Submit Button -->
            <div nz-col nzSpan="24" class="form-item button-container">
              <button 
                nz-button 
                class="login-form-button login-form-margin" 
                [nzType]="'primary'" 
                (click)="postReservation()">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nz-spin>
</div>